<h3>Bookings</h3>
<div class="bookings-container">
	<table>
		<tr>
			<th>RegNo</th>
			<th>Customer</th>
			<th>Km Rented</th>
			<th>Km Returned</th>
			<th>Rented</th>
			<th>Returned</th>
			<th>Cost</th>
			<th>Status</th>
		</tr>
		@foreach (var booking in bookingProcessor.GetData<IBooking>())
		{
			<tr>
				<td><strong>@booking.regNumber</strong></td>
				<td>@booking.customer.firstName</td>
				<td>@booking.kmRented</td>
				<td>@booking.kmReturned</td>
				<td>@booking.rented</td>
				<td>@booking.returned</td>
				<td>@booking.cost</td>
				<td><button class="@(booking.status == BookingStatuses.Open ? "btn btn-danger" : "btn btn-success")">@booking.status</button></td>
			</tr>
		}
	</table>
</div>

@code {
	[Inject] public BookingProcessor? bookingProcessor { get; set; }
	[Parameter] public EventCallback stateChanged { get; set; }

	void stateChangedHandler()
	{
		StateHasChanged();
	}
}
